{% extends "cliente.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/cadastro-oficial.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block 'dashboard' %}
<body> <!-- Formulário de Cadastro -->
      <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="{% url 'cadastro' %}" method="POST">  <!-- O formulário envia dados para a URL 'cadastro' quando submetido -->
                {% csrf_token %}
                <h1>Criar Conta</h1>
                <span>Insira seus dados para se registrar</span>  <!-- Campos de entrada para nome, sobrenome, CPF, telefone, endereço, e-mail e senha -->
                <input type="text" placeholder="Nome" name="nome" value="{{nome}}" />
                <input type="text" placeholder="Sobrenome" name="sobrenome" value="{{sobrenome}}" />
                <input type="text" placeholder="CPF" name="cpf" value="{{cpf}}" />
                <input type="text" placeholder="Telefone" name="telefone" value="{{telefone}}" />
                <input type="email" placeholder="E-mail" name="email" value="{{email}}" />
                <input type="password" placeholder="Senha" name="senha" value="{{senha}}" />
                <button class="button" value="Cadastrar">Cadastrar</button> <!-- Botão para submeter o formulário de cadastro -->
            </form>
        </div> <!-- Formulário de Login -->
        <div class="form-container sign-in">
            <form action="{% url 'login' %}" method="POST"> <!-- O formulário envia dados para a URL 'login' quando submetido -->
                {% csrf_token %}
                <h1>Fazer Login</h1>
                <span>Faça Login no sistema</span>  <!-- Campos de entrada para e-mail e senha -->
                <input type="email" placeholder="E-Mail" name="email" value="{{email}}" />
                <input type="password" placeholder="Senha" name="senha" value="{{password}}" />
                <br>
                <button class="button" value="Login">Login</button> <!-- Botão para submeter o formulário de login -->
            </form>
        </div>
         <!--Este é um contêiner que envolve a lógica de alternância entre os dois painéis.-->
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bem Vindo!</h1>
                    <p>Para se manter conectado conosco, faça login com suas informações pessoais</p>
                    <button  id="login">Login</button> <!-- Botão para acionar a ação de login (que é controlada por scripts JavaScript) -->
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Olá, Amigo!</h1>
                    <p>Insira seus dados pessoais e comece a fazer pedidos conosco</p>
                    <button  id="register">Cadastrar</button> <!-- Botão para acionar a ação de Cadastro (que é controlada por scripts JavaScript) -->
            </div>
        </div>
      </div>
</body>
<script>
    const container = document.getElementById('container');
    const registerBtn = document.getElementById('register');
    const loginBtn = document.getElementById('login');

    registerBtn.addEventListener('click', () => {
        container.classList.add("active");
    });

    loginBtn.addEventListener('click', () => {
        container.classList.remove("active");
    });
</script>
<script>
    function formatarCPF(input) {
    // Remove caracteres não numéricos
    var cpfNumeros = input.value.replace(/\D/g, '');

    // Limita o número de caracteres a 11
    cpfNumeros = cpfNumeros.substring(0, 11);

    // Adiciona pontos e traço
    var cpfFormatado = cpfNumeros.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');

    // Atualiza o valor no campo de input
    input.value = cpfFormatado;
}
    </script>
<script src="{% static 'usuarios/js/principal.js' %}"></script>

<script>
    function formatarTelefone(telefone) {
        // Remove caracteres não numéricos do telefone
        var telefoneFormatado = telefone.value.replace(/\D/g, '');

        // Verifica se o telefone já tem 11 dígitos (com DDD)
        if (telefoneFormatado.length === 11) {
            telefoneFormatado = telefoneFormatado.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
        } else {
            // Se não tiver 11 dígitos, trata como um telefone sem DDD
            telefoneFormatado = telefoneFormatado.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
        }

        // Atualiza o valor do campo de telefone com o telefone formatado
        telefone.value = telefoneFormatado;
    }
</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}