{% extends "cliente.html" %}
{% load static %}

{% block 'head' %}

{% endblock %}

{% block 'dashboard' %}
<body>
    <div class="container-perfil">
        <div id="att-perfil"> <!-- Formulário para atualização de perfil -->
            <form action="{% url 'perfil' %}" method="POST" id="form-perfil">
                {% csrf_token %}
                <div class="caixa-perfil">
                    <div id="perfil">
                        <h1 class="titulo_perfil">Atualizar Perfil</h1>
                        <div class="row">
                            <div class="col-md">
                                <p>Nome:</p>
                                <input type="text" class="form-control" placeholder="Nome" name="nome" value="{{nome}}" >
                            </div>
                            <div class="col-md">
                                <p>Sobrenome:</p>
                                <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" value="{{sobrenome}}" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <p>Telefone:</p>
                                <input type="text" class="form-control" placeholder="Telefone" name="telefone" value="{{telefone}}" >
                            </div>
                            <div class="col-md">
                                <p>Endereço:</p>
                                <input type="text" class="form-control" placeholder="Endereço" name="endereco" value="{{endereco}}" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <p>E-Mail:</p>
                                <input type="email" class="form-control" placeholder="E-Mail" name="email" value="{{email}}" >
                            </div>
                            <div class="col-md">
                                <p>Senha:</p>
                                <input type="password" class="form-control" placeholder="Senha" name="senha" value="{{senha}}" >
                            </div>
                        </div>
                        <div class="row"><!-- Botão para atualizar o perfil -->
                            <button class="btn-att-perfil" value="Atualizar">Atualizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container-pedidos"> <!-- Container para a seção de pedidos anteriores -->
        <br>
        <br>
        <div id="pedidos-anteriores" class="pedidos-anteriores">
            <div class="caixa-pedidos">
                <div id="pedidos" class="pedidos-anteriores">
                    <br>
                    <h1  id="pedidos-anteriores-perfil">Pedidos Anteriores</h1>
                    <div class="container-fluid distanciamento"> <!-- Container para a tabela de pedidos anteriores -->
                        <table class="table table-dark"> <!-- Tabela para exibir os detalhes dos pedidos anteriores -->
                            <thead>
                                <tr><!-- Cabeçalhos da tabela -->
                                    <th scope="col">Pedido</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody> <!-- Loop sobre os pedidos anteriores -->
                                {% for pedido in pedidos|dictsortreversed:"id_pedido" %}
                                    <tr>
                                        <th><a href="{% url 'notaPedido' pedido.id_pedido %}">{{ pedido.id_pedido }}</a></th>
                                        <td>{{ pedido.data }}</td>
                                        <td>R$ {{ pedido.valor_final|floatformat:2 }}</td>
                                        <td>{% if pedido.completo %}Completo{% else %}Incompleto{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> <!-- Botão para excluir o perfil -->
        <button class="btn-remover-principal" onclick="confirmarExclusao()">Excluir Perfil</button>      
    </div>
</body>


{% endblock %}