{% extends "cliente.html" %}
{% load static %}

{% block 'head' %}

{% endblock %}

{% block 'dashboard' %}
<body>
    <!--main-->
    <div class="main">
        <!-- Barra de navegação principal -->
        <div class="main-navbar">
            <ion-icon class="menu-toggle" name="menu-outline"></ion-icon> <!-- Ícone de alternância de menu -->

            <div class="search"> <!-- Barra de pesquisa -->
                <form id="pesquisa-produto" method="GET" action="{% url 'pesquisar_produto' %}"> <!-- Formulário de pesquisa de produtos -->
                    <input type="text" placeholder="Pesquisar" name="Pesquisar" value="{{termo_pesquisa}}">
                    <button class="search-btn">Pesquisar</button>
                </form>
            </div>

            <div class="profile"><!-- Perfil do usuário e carrinho de compras -->
                <a class="cart" href="{% url 'carrinho' %}"><ion-icon name="cart-outline"></ion-icon></a>
                <p id="cart-total">{{carrinho_itens|floatformat:0}}</p>
            </div>
            
        </div>
        <!-- Conteúdo principal da página dentro de um wrapper -->
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "product-div"><!-- Seção de detalhes do produto -->
                    <div class = "product-div-left">
                        <div class = "img-container">
                            <img src = "{{produto.imageURL}}" alt = "{{produto.nome_produto}}">
                        </div>
                        
                    </div>
                    <div class = "product-div-right"> <!-- Lado direito com informações do produto -->
                        <span class = "product-name">{{produto.nome_produto}}</span>
                        <hr class="divider">
                        {% if media_avaliacoes %} <!-- Média das avaliações do produto -->
                            <p>Média das Avaliações: {{ media_avaliacoes }}</p>
                        {% else %}
                            <p>Ainda não há avaliações para este produto.</p>
                        {% endif %}
                        <span class = "product-price">R$ {{produto.preco|floatformat:2}}</span>
                        <p class = "product-description">{{produto.descricao}}</p>
                        <p class = "product-ingredientes">Ingredientes:</p><!-- Lista de ingredientes -->
                                {% for ingrediente in ingredientes_produto %}
                                    <li>{{ ingrediente.nome_ingrediente }}</li>
                                {% endfor %}
                        <div class = "btn-groups"> <!-- Botão para adicionar ao carrinho -->
                            <button type="button" data-produto="{{produto.id_produto}}" data-action="add" class="btn botao-add-carrinho add-btn update-cart">Add ao Carrinho</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div id="comentarios"> <!-- Seção de comentários e avaliações -->
            <form id="avaliacao-produto" method="POST" action="{% url 'produto' produto.id_produto %}"> {% csrf_token %} <!-- Formulário para enviar uma avaliação -->
                <input type="text" name="comentario" value="{{comentario}}">
                <input type="number" name="nota" min="1" max="5" step="0.1" value="{{nota}}">
                <button type="submit">Enviar</button>
            </form>
        </div>

        <br>

        {% if avaliacoes %}
        <h2>Comentários:</h2><!-- Lista de comentários e avaliações -->
        <ul>
            {% for avaliacao in avaliacoes %}
                <li><!-- Detalhes de cada avaliação -->
                    <p><strong>Usuário:</strong> {{ avaliacao.usuario }}</p>
                    <p><strong>Comentário:</strong> {{ avaliacao.comentario }}</p>
                    <p><strong>Nota:</strong> {{ avaliacao.nota }}</p>
                    <p><strong>Data:</strong> {{ avaliacao.data }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %} <!-- Mensagem quando não há comentários -->
            <p>Não há comentários para este produto.</p>
        {% endif %}
    </div>
</body>


{% endblock %}