{% extends "gerente.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/principal-oficial.css' %}">
    <link rel="stylesheet" href="{% static 'css/produto-oficial.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block 'dashboard' %}
<body>
    <!--main-->
    <div class="main">
        <!--Main navbar-->
        <div class="main-navbar">
            <ion-icon class="menu-toggle" name="menu-outline"></ion-icon>

            <div class="search">
                <form id="pesquisa-produto" method="GET" action="{% url 'gerente_pesquisa_produto' %}">
                    <input type="text" placeholder="Pesquisar" name="Pesquisar" value="{{termo_pesquisa}}">
                    <button class="search-btn">Pesquisar</button>
                </form>
            </div>
            
        </div>
        
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "product-div">
                    <div class = "product-div-left">
                        <div class = "img-container">
                            <img src = "{{produto.imageURL}}" alt = "{{produto.nome_produto}}">
                        </div>
                        
                    </div>
                    <div class = "product-div-right">
                        <span class = "product-name">{{produto.nome_produto}}</span>
                        <hr class="divider">
                        {% if media_avaliacoes %}
                            <p>Média das Avaliações: {{ media_avaliacoes }}</p>
                        {% else %}
                            <p>Ainda não há avaliações para este produto.</p>
                        {% endif %}
                        <span class = "product-price">R$ {{produto.preco|floatformat:2}}</span>
                        <p class = "product-description">{{produto.descricao}}</p>
                        <p class = "product-ingredientes">Ingredientes:</p>
                                {% for ingrediente in ingredientes_produto %}
                                    <li>{{ ingrediente.nome_ingrediente }}</li>
                                {% endfor %}
                        <div class = "btn-groups">
                            <button type="button" onclick="dados_produto('{{produto.id_produto}}')" class="btn botao-add-carrinho btn-att">Atualizar Produto</button>
                            <!-- Botão para excluir produto -->
                            <button type="button" onclick="confirmarExclusaoProduto('{{ produto.id_produto }}')" class="btn botao-add-carrinho btn-excluir">Excluir Produto</button> 
                        </div>
                        <!-- Modal de confirmação -->
                        <div id="modal-confirmacao" style="display: none;">
                            <p>Deseja realmente excluir o produto?</p>
                            <a class="btn btn-danger" href="{% url 'gerente_excluir_produto' produto.id_produto %}">Excluir</a>
                            <button class="btn botao-add-carrinho btn-att" onclick="fecharModal()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="att-produto" class="container att-produto" name="att-produto" style="display: none;">
            <form action="{% url 'gerente_att_produto' produto.id_produto %}" method="POST" enctype="multipart/form-data" onsubmit="substituirVirgulaPorPonto()">
                {% csrf_token %}
                <div class="produtoform">
                    <h2 class="main-title">Atualizar produto</h2>
                    <div class="row">
                        <div class="col-md">
                            <p class="label-text">Nome do produto</p>
                            <input type="text" name="nome_produto" class="form-control" value="{{produto.nome_produto}}">
                        </div>
                        <div class="col-md">
                            <p class="label-text">Descrição</p>
                            <input type="text" name="descricao" class="form-control" value="{{produto.descricao}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <p class="label-text">Preço</p>
                            <input type="text" name="preco" class="form-control" value="{{produto.preco}}">
                        </div>
                        <div class="col-md">
                            <p class="label-text">Categoria</p>
                            <select name="categoria" class="form-control">
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.0 }}">{{ categoria.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md">
                            <p class="label-text">Imagem</p>
                            <input type="file" name="imagem" accept="image/*">
                        </div>
                    </div>
                </div>
                <br>
                <div class="add-ingredientes">
                    <h3>Ingredientes da receita</h3>
                    <span class="btn botao-add-carrinho btn-att" onclick="addIngrediente()">+ Adicionar um ingrediente</span>
                    <div class="ingredientes" id="form-ingrediente">
                        
                    </div>
                </div>
                <div class="btn-groups">
                    <!-- Botão de cancelar -->
                    <span onclick="cancelarAtualizacao()" class="btn botao-add-carrinho btn-excluir">Cancelar</span>
                    
                    <input type="submit" value="Enviar" class="btn botao-add-carrinho btn-aceitar">
                </div>
            </form>
        </div>
        <br>

        <div class="container comentarios">
            {% if avaliacoes %}
            <h2>Comentários:</h2>
            <div class="comentarios-grid">
                {% for avaliacao in avaliacoes %}
                <div class="comentario">
                    <p><strong>{{ avaliacao.usuario.first_name }} {{avaliacao.usuario.last_name}}</strong></p>
                    <p><strong>Comentário:</strong> {{ avaliacao.comentario }}</p>
                    <p><strong>Nota:</strong> {{ avaliacao.nota }}</p>
                    <p><strong>Data:</strong> {{ avaliacao.data }}</p>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Não há comentários para este produto.</p>
            {% endif %}
        </div>
    </div>
</body>

<script>
    // Função para mostrar o modal de confirmação
    function confirmarExclusaoProduto(produtoId) {
        var modal = document.getElementById('modal-confirmacao');
        modal.style.display = 'block';
        // Guarde o ID do produto a ser excluído em uma variável global para acessá-lo depois
        window.produtoIdParaExcluir = produtoId;
    }
</script>
<script src="{% static 'js/script.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

{% endblock %}