{% extends "gerente.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/principal-oficial.css' %}">
    <link rel="stylesheet" href="{% static 'css/produto-oficial.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block 'dashboard' %}
<body>
    <!--main-->
    <div class="main">
        <!--Main navbar-->
        <div class="main-navbar">
            <ion-icon class="menu-toggle" name="menu-outline"></ion-icon>

            <div class="search">
                <form id="pesquisa-produto" method="GET" action="{% url 'pesquisar_produto' %}">
                    <input type="text" placeholder="Pesquisar" name="Pesquisar" value="{{termo_pesquisa}}">
                    <button class="search-btn">Pesquisar</button>
                </form>
            </div>
            
        </div>
        
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "product-div">
                    <div class = "product-div-left">
                        <div class = "img-container">
                            <img src = "{{produto.imageURL}}" alt = "{{produto.nome_produto}}">
                        </div>
                        
                    </div>
                    <div class = "product-div-right">
                        <span class = "product-name">{{produto.nome_produto}}</span>
                        <hr class="divider">
                        {% if media_avaliacoes %}
                            <p>Média das Avaliações: {{ media_avaliacoes }}</p>
                        {% else %}
                            <p>Ainda não há avaliações para este produto.</p>
                        {% endif %}
                        <span class = "product-price">R$ {{produto.preco|floatformat:2}}</span>
                        <p class = "product-description">{{produto.descricao}}</p>
                        <p class = "product-ingredientes">Ingredientes:</p>
                                {% for ingrediente in ingredientes_produto %}
                                    <li>{{ ingrediente.nome_ingrediente }}</li>
                                {% endfor %}
                        <div class = "btn-groups">
                            <button type="button" onclick="dados_produto('{{produto.id_produto}}')" class="btn botao-add-carrinho">Atualizar Produto</button>
                            <!-- Botão para excluir produto -->
                            <button onclick="confirmarExclusao('{{ produto.id_produto }}')">Excluir Produto</button> 
                        </div>
                        <!-- Modal de confirmação -->
                        <div id="modal-confirmacao" style="display: none;">
                            <p>Deseja realmente excluir o produto?</p>
                            <a class="btn btn-danger" href="{% url 'excluir_produto' produto.id_produto %}">Excluir</a>
                            <button onclick="fecharModal()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="att-produto" class="adicionar-produto" name="att-produto" style="display: none;">
            <form action="{% url 'attProduto' produto.id_produto %}" method="POST" enctype="multipart/form-data" onsubmit="substituirVirgulaPorPonto()">
                {% csrf_token %}
                <div class="produtoform">
                    <h2 class="main-title">Atualizar produto</h2>
                    <div class="row">
                        <div class="col-md">
                            <p class="label-text">Nome do produto</p>
                            <input type="text" name="nome_produto" class="form-control" value="{{produto.nome_produto}}">
                        </div>
                        <div class="col-md">
                            <p class="label-text">Descrição</p>
                            <input type="text" name="descricao" class="form-control" value="{{produto.descricao}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <p class="label-text">Preço</p>
                            <input type="text" name="preco" class="form-control" value="{{produto.preco}}">
                        </div>
                        <div class="col-md">
                            <p class="label-text">Categoria</p>
                            <select name="categoria" class="form-control">
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.0 }}">{{ produto.categoria }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md">
                            <p class="label-text">Imagem</p>
                            <input type="file" name="imagem" accept="image/*">
                        </div>
                    </div>
                </div>
                <br>
                <div class="add-ingredientes">
                    <h3>Ingredientes da receita</h3>
                    <span class="btn-add-ingredientes" onclick="addIngrediente()">+ Adicionar um ingrediente</span>
                    <div class="ingredientes" id="form-ingrediente">
                        
                    </div>
                </div>
                <div class="btn-groups">
                    <!-- Botão de cancelar -->
                    <button type="button" onclick="cancelarAtualizacao()">Cancelar</button>
                    
                    <input type="submit" value="Enviar" class="btn-add-principal">
                </div>
            </form>
        </div>
        <br>

        {% if avaliacoes %}
        <h2>Comentários:</h2>
        <ul>
            {% for avaliacao in avaliacoes %}
                <li>
                    <p><strong>Usuário:</strong> {{ avaliacao.usuario }}</p>
                    <p><strong>Comentário:</strong> {{ avaliacao.comentario }}</p>
                    <p><strong>Nota:</strong> {{ avaliacao.nota }}</p>
                    <p><strong>Data:</strong> {{ avaliacao.data }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Não há comentários para este produto.</p>
        {% endif %}
    </div>
</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>


{% endblock %}